/* Padding between widgets on home page */
.home-section {
    padding: 30px 0 30px 0;
  }

/* Font size in navbar */
nav#navbar-main li.nav-item {
  font-size: 14px;
}

  
/* Social icons in navbar */ 
ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin:0;
  padding:0;
  line-height:70px;
  
}

.network-icon li {
  margin-right: 10px;
}

.network-icon li:last-of-type {
  margin-right: 0;
}

.network-icon li:hover {
  transform: scale(1.2)
}

.big-icon {
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin:0;
  padding:0;
  line-height:30px;
  
}

.network-icon li {
  margin-right: 10px;
}

.network-icon li:last-of-type {
  margin-right: 0;
}

.network-icon li:hover {
  transform: scale(1.2)
}

.big-icon {
  font-size: 1.2rem;
}
}